body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}
header, footer{
    background-color: #d1adf0;
}

.website-title{
    color: #232124;
}

#mayaimage {
    box-shadow: 0 0 2px 1px;
}

.hobbies {
    list-style-type: square;
}

.hobbies li:nth-child(odd) {
    background-color: #adf0bd;
}

nav a {
    text-decoration: none;
    background-color: #be3fb4;
    color: white;
    border: 2px solid black;

}

nav a:hover,
nav a:focus {
    background-color: #918aeb;
}